absl-py==0.10.0
alabaster==0.7.12
amqp==5.0.2
applaunchservices==0.2.1
argh==0.26.2
astropy==4.0.1.post1
astunparse==1.6.3
atomicwrites==1.4.0
attrs==19.3.0
Babel==2.8.0
backcall==0.2.0
backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
beautifulsoup4==4.9.1
billiard==3.6.3.0
bkcharts==0.2
bleach==3.1.5
boto==2.49.0
Bottleneck==1.3.2
brotlipy==0.7.0
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
colorama==0.4.3
contextlib2==0.6.0.post1
cryptography==2.9.2
cycler==0.10.0
cytoolz==0.10.1
decorator==4.4.2
defusedxml==0.6.0
docutils==0.16
entrypoints==0.3
et-xmlfile==1.0.1
fastcache==1.1.0
filelock==3.0.12
flake8==3.8.3
Flask==1.1.2
fsspec==0.7.4
future==0.18.2
gast==0.3.3
glob2==0.7
gmpy2==2.0.8
google-pasta==0.2.0
greenlet==0.4.16
grpcio==1.32.0
gspread==3.6.0
h5py==2.10.0
HeapDict==1.0.1
httplib2==0.18.1
hurry.filesize==0.9
imagesize==1.2.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.11.2
JSON-minify==0.3.0
json5==0.9.5
keyboard==0.13.5
kiwisolver==1.2.0
kombu==5.0.2
lazy-object-proxy==1.4.3
libarchive-c==2.9
locket==0.2.0
Markdown==3.3
mock==4.0.2
nbformat==5.0.7
node==0.9.25
notebook==6.0.3
numba==0.50.1
numexpr==2.7.1
oauth2client==4.1.3
oauthlib==3.1.0
odict==1.7.0
olefile==0.46
opt-einsum==3.3.0
packaging==20.4
pandocfilters==1.4.2
parso==0.7.0
partd==1.1.0
path==13.1.0
pathtools==0.1.2
patsy==0.5.1
pep8==1.7.1
pkginfo==1.5.0.1
pluggy==0.13.1
plumber==1.6
ply==3.11
prometheus-client==0.8.0
prompt-toolkit==3.0.5
protobuf==3.13.0
psutil==5.7.0
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycosat==0.6.3
pycurl==7.43.0.5
pyflakes==2.2.0
pyparsing==2.4.7
pyrsistent==0.16.0
pytest==5.4.3
python-dateutil==2.8.1
python-vlc==3.0.11115
python3-wget==0.0.2b1
pytz==2020.1
PyWavelets==1.1.1
PyYAML==5.3.1
pyzmq==19.0.1
QDarkStyle==2.8.1
QtAwesome==0.7.2
QtPy==1.9.0
requests-oauthlib==1.3.0
rope==0.17.0
rsa==4.6
ruamel-yaml==0.15.87
seaborn==0.10.1
Send2Trash==1.5.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.15.0
snowballstemmer==2.0.0
sortedcollections==1.2.1
sortedcontainers==2.2.2
soupsieve==2.0.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
statsmodels==0.11.1
tables==3.6.1
tblib==1.6.0
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
toolz==0.10.0
tornado==6.0.4
traitlets==4.3.3
ujson==1.35
unicodecsv==0.14.1
urllib3==1.25.9
vine==5.0.0
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.11.2
xlrd==1.2.0
XlsxWriter==1.2.9
xlwings==0.19.5
xlwt==1.3.0
xmltodict==0.12.0
zict==2.0.0
zipp==3.1.0
zope.component==4.6.2
zope.deferredimport==4.3.1
zope.deprecation==4.4.0
zope.event==4.4
zope.hookable==5.0.1
zope.interface==4.7.1
zope.lifecycleevent==4.3
zope.proxy==4.3.5
