<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesComputerThinking.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <h1>{{startValue}}</h1>
    <div id="waitingDots">
    </div>
    <br>
    <br>
    <div style="white-space: pre-wrap;">{{boardState}}</div>
    <script type="text/javascript"
         src="{{ url_for('static', filename='scriptComputerThinking.js') }}"></script>
    </script>
    <script>
      myFunc({{vars|tojson}});
    </script>
  </body>
</html>
